.cards .front{
    transform: rotateY(90deg);
    transition: all ease-in 0.2s;
    position: absolute;
}
.flipped .front{
    transform: rotateY(0deg); 
    transition-delay: 0.2s;
}

.cards .back{
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
    background: rgb(2,71,97);
    background: rgb(2,71,97);
    background: radial-gradient(circle, rgba(2,71,97,1) 0%, rgba(19, 19, 19, 0.914) 70%);
  

}


.flipped .back{
    transform: rotateY(90deg);
    transition-delay: 0s;
    background-color: rgb(119, 7, 95);
}